// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors
$color-first:#3c0000;
$color-second:#670010;
$color-third:#960018;
$color-fourth:#666666;
$color-fifth:#8c8c8c;